* {
  /* border: solid 1px red; */
}

/* 상단 시작 */
.header {
  padding-top: 5px;
  font-size: 20px;
}

a:link {
  text-decoration: none;
}

nav.top-bar {
  color: white;
  font-size: 15px;
  list-style: none;
  padding-left: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  background-color: white;
}

.logo h1 {
  margin: 20px;
  text-align: center;
  font-size: 110px;
}

.category {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu {
  /* display: flex; */
  background-color: rgb(243, 243, 243);
  list-style: none;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-start {
  display: flex;
  justify-content: center;
}

.menu li {
  font-size: 20px;
  color: black;
  display: inline-block;
  text-align: center;
  justify-content: space-around;
  margin-left: 25px;
  margin-right: 25px;
}

div.contents {
  background-color: aliceblue;
  width: 100%;
  height: 600;
}

.home {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.bottom-box {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom-box > .community {
  width: 350px;
  height: 350px;
  margin-right: 19px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(243, 243, 243);
}

.bottom-box > .map {
  width: 350px;
  height: 350px;
  margin-right: 18px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(243, 243, 243);
}

.bottom-box > .time {
  width: 350px;
  height: 350px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(243, 243, 243);
}

header {
  height: 40px;
  background-color: black;
  font-size: 20px;
  text-align: center;
  color: white;
  border-radius: 20px 20px 0 0;
}

/* 상단 끝 */

/* 하단 시작 */
footer.info {
  margin-top: 20px;
  background-color: black;
  color: white;
  text-align: center;
}
/* 하단 끝 */

/* contents-box 시작 */
/* 배너 시작 */
.intro_banu {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro_banu > img {
  width: 80%;
}

/* 배너 끝 */

/* 시설보기 시작 */
.intro-h-name {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.intro-h-name > div {
  background-color: rgb(45, 45, 87);
}

.intro-h-name > div > h1 {
  color: white;
  font-size: 70px;
}

.intro-img-all {
  width: auto;
}

.intro-img-all > div {
  text-align: center;
}

.img-box {
  display: flex;
  justify-content: center;
  height: 500px;
  margin: 30px;
}

.img {
  margin-left: 60px;
  margin-right: 60px;
}

/* 시설보기 끝 */

/* 기구소개 시작 */
.sporting-name {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.sporting-name > div {
  background-color: rgb(45, 45, 87);
}

.sporting-name > div > h1 {
  color: white;
  font-size: 70px;
}

.sporting-all {
  text-align: center;
}

.sporting-box {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.sporting-img {
  margin-left: 60px;
  margin-right: 60px;
}

/* 기구소개 끝 */

/* 오시는길 시작 */

.map-name {
  display: flex;
  justify-content: center;
  text-align: center;
}

.map-box {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.map-box-bus {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  width: 500px;
  height: 500px;
}

/* 오시는길 끝 */

/* contents-box 끝 */
