* {
  /* border: 1px solid red; */
  /* font-family: 돋움체; */
}
/* 상단 시작 */
.header {
  padding-top: 5px;
  font-size: 20px;
}

a:link {
  text-decoration: none;
}

nav.top-bar {
  color: white;
  font-size: 15px;
  list-style: none;
  padding-left: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  background-color: white;
}

.logo h1 {
  margin: 20px;
  text-align: center;
  font-size: 110px;
}

.category {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu {
  /* display: flex; */
  background-color: rgb(243, 243, 243);
  list-style: none;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-start {
  display: flex;
  justify-content: center;
}

.menu li {
  font-size: 20px;
  color: black;
  display: inline-block;
  text-align: center;
  justify-content: space-around;
  margin-left: 25px;
  margin-right: 25px;
}

div.contents {
  background-color: aliceblue;
  width: 100%;
  height: 600;
}

.home {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.bottom-box {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom-box > .community {
  width: 350px;
  height: 350px;
  margin-right: 19px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(243, 243, 243);
}

.bottom-box > .map {
  width: 350px;
  height: 350px;
  margin-right: 18px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(243, 243, 243);
}

.bottom-box > .time {
  width: 350px;
  height: 350px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgb(243, 243, 243);
}

header {
  height: 40px;
  background-color: black;
  font-size: 20px;
  text-align: center;
  color: white;
  border-radius: 20px 20px 0 0;
}

/* 상단 끝 */

/* 하단 시작 */
footer.info {
  margin-top: 20px;
  background-color: black;
  color: white;
  text-align: center;
}
/* 하단 끝 */

/* contents-box 시작 */
.center {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-right: auto;
  margin-left: auto; */
  background: url("../img/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.back {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  color: lightgray;
}

.back h3 {
  font-size: 50px;
  font-weight: bold;
}

.back h5 {
  font-size: 35px;
  font-weight: bold;
}

.three_box {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.box1 {
  width: 420px;
  height: 230px;
  text-align: center;
  margin-top: 6%;
}

.container1 {
  display: flex;
  justify-content: center;
  background-color: gray;
}

.card-body {
    display: flex;
  justify-content: center;
  /* background-color: gray; */
}

.calendar {
  display: flex;
  justify-content: center;
}
/* contents-box 끝 */
